@import "tailwindcss";

@layer base {
	:root {
		--font-lato: 'Lato', sans-serif;
		--font-roboto: 'Roboto', sans-serif;
		--font-karla: 'Karla', sans-serif;
		--font-rubik: 'Rubik', sans-serif;
		--font-montserrat: 'Montserrat', sans-serif;
	}

	* {
		box-sizing: border-box;
	}

	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
		font-family: var(--font-lato);
		color: #333;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	img {
		max-width: 100%;
		height: auto;
		display: block;
	}

	.container-fluid {
		padding-right: 0;
		padding-left: 0;
		margin-right: auto;
		margin-left: auto;
	}
}

@layer utilities {
	.font-lato {
		font-family: var(--font-lato);
	}

	.font-roboto {
		font-family: var(--font-roboto);
	}

	.font-karla {
		font-family: var(--font-karla);
	}

	.font-rubik {
		font-family: var(--font-rubik);
	}

	.font-montserrat {
		font-family: var(--font-montserrat);
	}
}

